@model List<Product>

@{
    ViewData["Title"] = "Products";
}

<div class="row pt-5">
    <h3 class="text-secondary font-monospace fw-bold col-6">
        Products [<span class="text-primary opacity-75 small">@Model?.Count</span>]
    </h3>
    <div class=" text-end">
        <a asp-action="AddProduct" class="btn btn-success mb-4 fw-bold">Add Product</a>
    </div>
</div>

@if (Model is null)
{
    <em>Loading ......</em>
}
else if (Model.Any() is false)
{
    <h4>No Registered product Was Returned From the Database</h4>
}
else
{
    <div class="container-fluid overflow-auto m-0 p-1 ">
        <table class="table table-bordered table-striped text-center align-middle ">
            <thead class="border-dark bg-success text-light">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Available</th>
                    <th>Discount</th>
                    <th>On Sale</th>
                    <th>Price</th>
                    <th>Changes</th>
                </tr>
            </thead>
            <tbody class="border-1 border-dark">
                @foreach (var product in Model)
                {

                    <tr>
                        <td class="col-3 fw-bold link-primary">
                            <a class="text-decoration-none btn-outline-info link-primary rounded-pill p-1"
                               asp-action="productDetails" asp-route-id="@product.Guid">@product.Name</a>
                        </td>
                        <td class="col-2 fw-bold  text-success">@product.Category!.Name</td>
                        <td class="col-1 text-secondary fw-bold  @(product.Quantity <= 10 ? "bg-warning" : "") bg-opacity-25">@product.Quantity</td>

                        @if (product.OnSale)
                        {
                            <td class="col-1 fw-bold">
                                <span class="btn-outline-warning link-primary rounded-pill p-lg-1 p-xl-2
                                      text-danger text-opacity-75 discountRateModal" title="Click to update"
                                      onclick="openDiscountRateModal('@JsonConvert.SerializeObject(product)')">
                                    @($"{(int)product.DiscountRate}%")
                                </span>
                            </td>
                        }
                        else
                        {
                            <td class="col-1 fw-bold text-center">
                                <span class="btn-outline-warning link-primary rounded-pill p-lg-1 p-xl-2
                                       discountRateModal" title="Click to update"
                                      onclick="openDiscountRateModal('@JsonConvert.SerializeObject(product)')">
                                    Full Price
                                </span>
                            </td>
                        }

                        <td class="col-1 fw-bold small @(product.OnSale ? "bg-danger bg-opacity-10" : "")">
                            <span class="text-decoration-none btn-outline-warning link-primary rounded-pill p-2
                                  discountUntilModal" title="Click to update" onclick="openDiscountUntilModal('@JsonConvert.SerializeObject(product)')">
                                @product.DiscountUntil.ToShortDateString()
                            </span>
                        </td>

                        <td class="col-1 text-secondary fw-bold font-monospace"> @($"{product.GetCurrentPrice():#.##}")</td>
                        <td class="col-sm-2 col-lg-2 col-xxl-1">
                            <div class="row justify-content-center">
                                <a asp-action="Updateproduct" asp-route-id="@product.Guid"
                                   class="btn btn-warning rounded-pill w-auto p-1 m-1">Update</a>
                                <a asp-action="Deleteproduct" asp-route-id="@product.Guid"
                                   class="btn btn-danger rounded-pill w-auto p-1 m-1">Delete&nbsp;</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@{ProductDto productToPatch = new ProductDto();}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    
    <script type="text/javascript">
        var id;
        var discountRate;
        var discountUntil;

        function openDiscountRateModal(obj) {
            $('#discountRateModal').modal('show');
            var product = JSON.parse(obj);

            id = product.Guid;
            document.getElementById("productName-rateModal").innerHTML = product.Name;
            document.getElementById("productId-rateModal").value = product.Guid;
            document.getElementById("discountRate").value = product.DiscountRate;

            discountRate = product.DiscountRate;
        }

        function patchDiscountRate() {
        discountRate = document.getElementById("discountRate").value;
        window.location.href = "@Url.RouteUrl("/")" + `Product/PatchProductDiscountRate/${id}?value=${discountRate}`
        }

        function openDiscountUntilModal(obj) {
            $('#discountUntilModal').modal('show');
            var product = JSON.parse(obj);

            id = product.Guid;
            document.getElementById("productName-dateModal").innerHTML = product.Name;
            document.getElementById("productId-dateModal").value = product.Guid;
            document.getElementById("discountUntil").innerHTML = product.DiscountUntil.toString();
        }

        function patchDiscountDate() {
            discountUntil = document.getElementById("discountUntil").value;
            window.location.href = "@Url.RouteUrl("/")" + `Product/PatchProductDiscountUntil/${id}?value=${discountUntil}`
        }
            

        //$(".discountRateModal").click(function () {
        //    $('#discountRateModal').modal('show');
        //});

    </script>
}


<style>
    .discountRateModal:hover, .discountUntilModal:hover {
        cursor: pointer;
    }
</style>

<div class="modal fade" id="discountRateModal" tabindex="-1" aria-labelledby="discountRateModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning m-auto fw-bold" id="deleteModalLabel">
                    Set a discount rate for this product
                </h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="post" asp-action="PatchProduct" asp-route-id="@productToPatch.Id"
                          style="max-width: 40rem;" class="fw-bold row-cols-1 p-3">

                        <input class="invisible" id="productId-rateModal" type="text" asp-for="@productToPatch.Id" disabled />

                        <div class="col-auto mb-3 pb-4 m-auto">
                            <h5 class="text-center fw-bold text-primary" id="productName-rateModal" asp-for="@productToPatch.Name"></h5>
                        </div>

                        <div class=" col-5 mb-3 m-auto">
                            <label asp-for="@productToPatch.DiscountRate">
                                Set Discount&nbsp;&nbsp;&nbsp;<span class="text-danger form-label">%</span>
                            </label>
                            <input id="discountRate" asp-for="@productToPatch.DiscountRate" type="number"
                                   class="form-control text-danger fw-bold mt-2 text-center" min="1" max="99" />
                            <span asp-validation-for="@productToPatch.DiscountRate" class="text-danger small"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-top-0 row justify-content-evenly">
                <button type="submit" onclick="patchDiscountRate()" id="patch"  class="btn btn-warning col-auto ">Patch Discount</button>
                <button type="button" class="btn btn-secondary col-auto " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="discountUntilModal" tabindex="-1" aria-labelledby="discountUntilModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning m-auto fw-bold" id="deleteModalLabel">
                    Set a date limit for the discount
                </h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="post" asp-action="PatchProduct" asp-route-id="@productToPatch.Id"
                          style="max-width: 40rem;" class="fw-bold row-cols-1 p-3">

                        <input class="invisible" id="productId-dateModal" type="text" asp-for="@productToPatch.Id" disabled />

                        <div class="col-auto mb-3  pb-4 m-auto">
                            <h5 class="text-center fw-bold text-primary" id="productName-dateModal" asp-for="@productToPatch.Name"></h5>
                        </div>

                        <div class="col-5 mb-3 m-auto">
                            <label asp-for="@productToPatch.DiscountUntil" class="text-dark" >
                                 Valid until:
                            </label>
                            <input id="discountUntil"  asp-for="@productToPatch.DiscountUntil" type="date"
                                   min="2022-09-25" max="2100-09-13"
                                   class="form-control text-danger fw-bold mt-2 text-center" required/>
                            <span asp-validation-for="@productToPatch.DiscountUntil" class="text-danger small"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-top-0 row justify-content-evenly">
                <button type="submit" onclick="patchDiscountDate()" id="patch" class="btn btn-warning col-auto ">Patch Date</button>
                <button type="button" class="btn btn-secondary col-auto " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

